{{page-title "ForgotPassword"}}
<div class="mt-5">
  <h3>Forgot Password</h3>
  {{#if this.success}}
    <p class="text-success mt-2">{{this.success}}</p>
  {{/if}}
  <form {{on "submit" this.submit}}>
    <label class="form-label">Email</label>
    <input type="email" name="email" class="form-control" placeholder="Enter Email" value={{this.email}} {{on "input" this.onChange}}>
    <button class="btn btn-primary mt-2" type="submit">Submit</button>
    {{#if this.error}}
      <p class="text-danger mt-2">{{this.error}}</p>
    {{/if}}
  </form>
</div>