{{page-title "ResetPassword"}}
<div class="mt-5">
  <h3>Reset Password</h3>
  {{#if this.success}}
    <p class="text-success mt-2">{{this.success}}</p>
  {{/if}}
  <form {{on "submit" this.submit}}>
    <label class="form-label">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Enter Password" value={{this.password}} {{on "input" this.onChange}} />
    <label class="form-label mt-3">Confirm Password</label>
    <input type="password" name="password_confirmation" class="form-control" placeholder="Enter Password" value={{this.password_confirmation}} {{on "input" this.onChange}} />
    <button class="btn btn-primary mt-2" type="submit">Submit</button>
    {{#if this.error}}
      <p class="text-danger mt-2">{{this.error}}</p>
    {{/if}}
  </form>
</div>